<h1>New Map</h1>

<input id="address" type="textbox" placeholder="414 Brannan St">
<input type="button" value="Geocode" onclick="codeAddress()">

<script type="text/javascript">

var geocoder;
function initialize_geocoding() {
  geocoder = new google.maps.Geocoder();
};

function codeAddress() {
  var address = document.getElementById('address').value;
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      var lat = results[0].geometry.location.d;
      var lng = results[0].geometry.location.e;
      $.ajax({
        method : "post",
        url : "/maps.json",
        data : { map : { address : address, lat : lat, lng : lng } }
      }).done(function() {
        console.log(lat);
      });
    } else {
      alert("We couldn't find that address. Check for spelling, or try entering more information." + status);
    }
  });
};

// $(document).on('ready page:load', initialize_geocoding);

// google.maps.event.addDomListener(window, "load", initialize_geocoding);

// // $(document).ready( initialize_geocoding );
// // $(document).on("page:load", initialize_geocoding );

google.maps.event.addDomListener(window, 'load', initialize_geocoding);
google.maps.event.addDomListener(window, 'page:load', initialize_geocoding);

</script>