<h1>Map</h1>

<p><%= @map.address %></p>

<div id="map-canvas"/></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvHawiMNKSViHecR02Ns3b0aBjqNSzNvk&sensor=false"></script>

<script type="text/javascript">


function initialize() {

  var latlng = new google.maps.LatLng(<%= @map.lat %>, <%= @map.lng %>);
  var mapOptions = {
    zoom: 16,
    center: latlng,
    mapTypeControl: false
  }

  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  var marker = new google.maps.Marker({
    map: map,
    position: latlng
  });

};

$(document).on('ready page:load', initialize);

// $(document).ready( initialize );
// $(document).on("page:load", initialize );

// google.maps.event.addDomListener(window, 'load', initialize);
// google.maps.event.addDomListener(window, 'page:load', initialize);

</script>